@media print {
    .container {
        zoom: 95%;
        margin-inline: auto;
        width:  100%; /* A4 width */
        padding: 0.5cm;
    }

    .contact-info {
        width: 100%;
        display: block;
    }
    .contact-info > span {
        margin-right: 0.4rem;
    }
    .blur {
        filter: blur(4px);
        pointer-events: none;
        cursor: default;
        transition: filter 0.3s ease;
    }
}/* Add any other necessary print styles here */
